/*
    * Skeleton V1.2  Copyright 2011, Dave Gamache
    * www.getskeleton.com  www.opensource.org/licenses/mit-license.php
    * 6/20/2012
    */

/* Table of Content
==================================================
    #Site Styles
    #Page Styles
    #Media Queries
    #Font-Face */

/* #Site Styles
================================================== */

    body {
        background: hsla(226, 47%, 28%, 1);
    }

    .container {
        z-index:    1;

        margin-top:8px;
        /*background-color: inherit;*/
        /*border-top: 8px solid hsl(227, 27%, 30%);*/
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        border-radius: 12px;
    }

    p, li {
        font-family: Signika, Arial, sans-serif;
        /*font-size:  1.1em;*/
        margin-bottom: 0px;
        padding-left: 6px;
    }

    p,prose {
        margin-bottom: 4px;
        margin-bottom: 6px;
    }

    h1 {
        font-family: Komika, "Georgia", "Times New Roman", serif;
        color:white;
    }

    h2, h3 {
        font-family: "League Gothic", Arial, sans-serif;
    }

    h4, h5, h6 {
        font-family: Signika, Arial, sans-serif;
    }

    div.realm, div.realm_full {
        /*margin-top:8px;*/

        margin-bottom:2px !important;
        border-top:  1px solid hsl(194, 50%, 41%);
        padding-top: 6px;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        border-radius: 12px;
    }

    div.inner {

        padding: 4px 4px 8px 12px;
        overflow:auto;
    }

    hr {
        border: 1px solid navy;
    }

/* #Page Styles
================================================== */

    #what_you_think, #what_you_think_content {
        background-color:   hsla(88, 80%, 82%, 1.0);
        z-index:120;
    }

    #your_choice {          /* 2 */
        background-color:   hsla(200, 70%, 80%, 1.0);
    }

    #dragonflies {               /* 6b */
        background-color:   hsla(205, 70%, 94%, 1.0);
    }

    #fivechapters {               /* 6b */
        background-color:   hsla(205, 70%, 84%, 1.0);
    }

    #others_unhelpful, #others_unhelpful_content {
        background-color:   hsla(300, 60%, 83%, 1.0);
    }


    #important, #important_content, #important_caller  {
        background-color:   hsla(44, 90%, 78%, 1.0);
    }

    #purposeful {
        background-color:   hsla(44, 70%, 81%, 1.0);
    }

    #courage, #courage_content {
        background-color:   hsla(96, 90%, 77%, 1.0);
    }

    #work, #work_content {
        background-color:   hsla(200, 80%, 77%, 1.0);
    }

    #whazzat, #whazzat_content {
        background-color:   hsla(104, 90%, 80%, 1.0);
    }

    #others_r_us, #others_r_us_content {
        padding-top: 0px;
        padding-bottom: 0px;
        text-align:  right;
        background-color:   hsla(300, 60%, 88%, 1.0);
        color:indigo;
    }

    #humility, #humility_content {
        padding-top: 0px;
        padding-bottom: 0px;
        text-align:  right;
        background-color:   hsla(46, 90%, 84%, 1.0);
        color:indigo;
    }

    #about_content {
        background-color:   hsla(46, 90%, 84%, 1.0);
    }


/* #Media Queries
================================================== */

    /* Smaller than standard 960 (devices and browsers) */
    @media only screen and (max-width: 959px) {}

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {}

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {}

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {}

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
    /*  Advisable to put this at top of doc for fast loading */
    @font-face {    font-family: 'Komika';
        src: url('../fonts/komika/Komika_display-webfont.eot');
        src: url('../fonts/komika/Komika_display-webfont.eot?iefix') format('eot'),
        url('../fonts/komika/Komika_display-webfont.woff') format('woff'),
        url('../fonts/komika/Komika_display-webfont.ttf') format('truetype'),
        url('../fonts/komika/Komika_display-webfont.svg#webfontZam02nTh') format('svg');
        font-weight: normal;
        font-style: normal; }
    @font-face {    font-family: 'League Gothic';
        src: url('../fonts/league-gothic/LeagueGothic-Regular-webfont.eot');
        src: url('../fonts/league-gothic/LeagueGothic-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/league-gothic/LeagueGothic-Regular-webfont.woff') format('woff'),
        url('../fonts/league-gothic/LeagueGothic-Regular-webfont.ttf') format('truetype'),
        url('../fonts/league-gothic/LeagueGothic-Regular-webfont.svg#LeagueGothicRegular') format('svg');
        font-weight: normal;
        font-style: normal; }
    @font-face {    font-family: 'Signika';
        src: url('../fonts/signika/Signika-Regular-webfont.eot');
        src: url('../fonts/signika/Signika-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/signika/Signika-Regular-webfont.woff') format('woff'),
        url('../fonts/signika/Signika-Regular-webfont.ttf') format('truetype'),
        url('../fonts/signika/Signika-Regular-webfont.svg#SignikaRegular') format('svg');
        font-weight: normal;
        font-style: normal; }
    @font-face {    font-family: 'Crimson';
        src: url('../fonts/crimson/Crimson-Roman-webfont.eot');
        src: url('../fonts/crimson/Crimson-Roman-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/crimson/Crimson-Roman-webfont.woff') format('woff'),
        url('../fonts/crimson/Crimson-Roman-webfont.ttf') format('truetype'),
        url('../fonts/crimson/Crimson-Roman-webfont.svg#CrimsonRoman') format('svg');
        font-weight: normal;
        font-style: normal; }
    @font-face {    font-family: 'CrimsonBold';
        src: url('../fonts/crimson/Crimson-Bold-webfont.eot');
        src: url('../fonts/crimson/Crimson-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/crimson/Crimson-Bold-webfont.woff') format('woff'),
        url('../fonts/crimson/Crimson-Bold-webfont.ttf') format('truetype'),
        url('../fonts/crimson/Crimson-Bold-webfont.svg#CrimsonBold') format('svg');
        font-weight: normal;
        font-style: normal; }